# Homework 3 --- Get the finalist

`hw3.csv` is a comma-separated-value (CSV) file that contains the result of 
semifinals for Men's 50m Breaststroke in 14th FINA WORLD CHAMPIONSHIPS.

Accroding to the result, please tell me who will enter the final.
Only the fastest 8 swimmers in the semifinals can race in the final;
that is, you have to rank the 16 swimmers in semifinals based on their 
performance (finish time) and determine who are the best 8 swimmers.

Basic requirement
-----------------

Please finish this script to print the times of the best 8 swimmers
in the order of their performance (time) [the fastest ranks on top].

Example outputs:

```
26.90
26.95
27.33
... and so on
```

Advanced requirement
--------------------

Print not only the times but also the names of the 8 finalists.

Example outputs (LastName FirstName Time):

```
VAN DER BURGH Cameron 26.90
FRANCA DA SILVA Felipe 26.95
DALE OEN Alexander 27.33
... and so on
```

Bonus
-----

Use `pandas` to fulfill all requirements.


Notes
-----

Only the best 8 swimmers can be finalists.
If there are swimmers having the same time, print their names in lexical order.
`hw3.csv` and this script must be placed in the same folder.
Don't worry about how to read the file. I have done this part for you :)


Hints
-----

In a CSV file, lines represent rows and commas separate the columns.
You may try to open `hw3.csv` with Notepad of Excel to get a global view.
String methods, such as strip(), split(), and sort(), are your good friends.
List comprehension is your powerful weapon.

Push back to GitHub
--------------------

See the PowerPoint slides.

## Start

In [1]:
# Here, we use the "readlines" method to read the file contents from <hw3.csv>
# into a list named "data."
data = open('hw3.csv').readlines()

Now, "data" is a list of strings; each string is a line in `hw3.csv`.

For example, if you print "data" in the console, you will see:

In [2]:
data

['Heat,Lane,LastName,FirstName,YOB,NOC,RT,Time\n',
 '1,1,SILADJI,Caba,1990,SRB,0.69,27.89\n',
 '1,2,SCOZZOLI,Fabio,1988,ITA,0.62,27.37\n',
 '1,3,SNYDERS,Glenn,1987,NZL,0.66,27.64\n',
 '1,4,MARKIC,Matjaz,1983,SLO,0.73,27.71\n',
 '1,5,GANGLOFF,Mark,1982,USA,0.67,27.57\n',
 '1,6,FELDWEHR,Hendrik,1986,GER,0.70,27.53\n',
 '1,7,BARTUNEK,Petr,1991,CZE,0.64,27.87\n',
 '1,8,POLYAKOV,Vladislav,1983,KAZ,0.77,27.81\n',
 '2,1,RICKARD,Brenton,1983,AUS,0.71,27.80\n',
 '2,2,AGACHE,Dragos,1984,ROU,0.76,27.71\n',
 '2,3,DALE OEN,Alexander,1985,NOR,0.70,27.33\n',
 '2,4,FRANCA DA SILVA,Felipe,1987,BRA,0.68,26.95\n',
 '2,5,DUGONJIC,Damir,1988,SLO,0.75,27.51\n',
 '2,6,VAN DER BURGH,Cameron,1988,RSA,0.63,26.90\n',
 '2,7,TRIZNOV,Aleksandr,1991,RUS,0.70,27.73\n',
 '2,8,STEKELENBURG,Lennart,1986,NED,0.69,27.51\n']

In [98]:
timelist = list()
for item in data:
    if item.startswith("Heat"):
        continue
    item = item.rstrip()
    words = item.split(",")
    time = [float(words[7]), words[2], words[3],]
    timelist.append(time)
timelist.sort()
tl = timelist[0:8]
order=[1,2,0]
for line in tl:
    final = [line[i] for i in order]
    print final

['VAN DER BURGH', 'Cameron', 26.9]
['FRANCA DA SILVA', 'Felipe', 26.95]
['DALE OEN', 'Alexander', 27.33]
['SCOZZOLI', 'Fabio', 27.37]
['DUGONJIC', 'Damir', 27.51]
['STEKELENBURG', 'Lennart', 27.51]
['FELDWEHR', 'Hendrik', 27.53]
['GANGLOFF', 'Mark', 27.57]

In [99]:
import pandas as pd

In [104]:
timetable = pd.read_csv("hw3.csv")
timetable

    Heat  Lane         LastName  FirstName   YOB  NOC    RT   Time
0      1     1          SILADJI       Caba  1990  SRB  0.69  27.89
1      1     2         SCOZZOLI      Fabio  1988  ITA  0.62  27.37
2      1     3          SNYDERS      Glenn  1987  NZL  0.66  27.64
3      1     4           MARKIC     Matjaz  1983  SLO  0.73  27.71
4      1     5         GANGLOFF       Mark  1982  USA  0.67  27.57
5      1     6         FELDWEHR    Hendrik  1986  GER  0.70  27.53
6      1     7         BARTUNEK       Petr  1991  CZE  0.64  27.87
7      1     8         POLYAKOV  Vladislav  1983  KAZ  0.77  27.81
8      2     1          RICKARD    Brenton  1983  AUS  0.71  27.80
9      2     2           AGACHE     Dragos  1984  ROU  0.76  27.71
10     2     3         DALE OEN  Alexander  1985  NOR  0.70  27.33
11     2     4  FRANCA DA SILVA     Felipe  1987  BRA  0.68  26.95
12     2     5         DUGONJIC      Damir  1988  SLO  0.75  27.51
13     2     6    VAN DER BURGH    Cameron  1988  RSA  0.63  26.90
14     2     7          TRIZNOV  Aleksandr  1991  RUS  0.70  27.73
15     2     8     STEKELENBURG    Lennart  1986  NED  0.69  27.51

In [110]:
lntable = timetable["LastName"].copy()
lntable

0             SILADJI
1            SCOZZOLI
2             SNYDERS
3              MARKIC
4            GANGLOFF
5            FELDWEHR
6            BARTUNEK
7            POLYAKOV
8             RICKARD
9              AGACHE
10           DALE OEN
11    FRANCA DA SILVA
12           DUGONJIC
13      VAN DER BURGH
14            TRIZNOV
15       STEKELENBURG
Name: LastName, dtype: object

In [111]:
fntable = timetable["FirstName"].copy()
fntable

0          Caba
1         Fabio
2         Glenn
3        Matjaz
4          Mark
5       Hendrik
6          Petr
7     Vladislav
8       Brenton
9        Dragos
10    Alexander
11       Felipe
12        Damir
13      Cameron
14    Aleksandr
15      Lennart
Name: FirstName, dtype: object

In [112]:
ttable = timetable["Time"].copy()
ttable

0     27.89
1     27.37
2     27.64
3     27.71
4     27.57
5     27.53
6     27.87
7     27.81
8     27.80
9     27.71
10    27.33
11    26.95
12    27.51
13    26.90
14    27.73
15    27.51
Name: Time, dtype: float64

In [125]:
stats = pd.concat([lntable, fntable, ttable], axis=1)
sortedstats = stats.sort(("Time"), ascending=True)
sortedstats

           LastName  FirstName   Time
13    VAN DER BURGH    Cameron  26.90
11  FRANCA DA SILVA     Felipe  26.95
10         DALE OEN  Alexander  27.33
1          SCOZZOLI      Fabio  27.37
12         DUGONJIC      Damir  27.51
15     STEKELENBURG    Lennart  27.51
5          FELDWEHR    Hendrik  27.53
4          GANGLOFF       Mark  27.57
2           SNYDERS      Glenn  27.64
3            MARKIC     Matjaz  27.71
9            AGACHE     Dragos  27.71
14          TRIZNOV  Aleksandr  27.73
8           RICKARD    Brenton  27.80
7          POLYAKOV  Vladislav  27.81
6          BARTUNEK       Petr  27.87
0           SILADJI       Caba  27.89